.faqContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    padding: 3rem 1rem 1rem 1rem;
    height: 100vh;
    background-color: rgba(236, 236, 236);
  }
  
  .faqTitle {
    color: #00498A;
    text-align: center;
  }
  
  .faqItem {
    width: 100%;
    max-width: 400px; /* Ancho máximo de la tarjeta */
    margin-bottom: 1rem;
    cursor: pointer;
    background-color: #fff; /* Color de fondo de la tarjeta */
    border-radius: 8px; /* Bordes redondeados de la tarjeta */
    padding: 1rem; /* Espaciado interno de la tarjeta */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
    padding: 1rem; /* Espaciado interno de la tarjeta */
  transition: all 0.3s ease;
  }
  
  .question {
    color: #111;
    font-weight: bold;
    margin-bottom: 0.5rem; /* Espaciado inferior de la pregunta */
  border-bottom: 1px solid #ccc; /* Línea inferior para separar la pregunta de la respuesta */
  padding-bottom: 0.5rem; 
  }
  
  .answer {
    color: #111;
    text-align: justify;
    margin-top: 0.5rem; 
  }

  .question.active {
    border-bottom: 1px solid #ccc; /* Línea inferior para separar la pregunta de la respuesta */
  }
  