.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
    width: calc(100% - 4rem);
    background-color: #E7E7E7;
    height: 30em;
}

.cardContainerMobile {
    width: 100%;
}

.cardContainerWeb {
    display: none;
}

.titleProducts::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #3483FA;
    margin: 10px auto;
}

.titleProducts{
    color: #3483FA;
}

@media (min-width: 768px) {
    .cardContainerWeb {
        display: flex;
        /* justify-content: space-around; */
        width: 100%;
    }

    .titleProducts {
        margin-bottom: 3rem;
    }

    .cardContainerMobile {
        display: none;
    }

    .carouselButtonNext {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .carouselButtons {
        position: relative;
        width: 10%;
        display: flex;
        justify-content: space-between;
    }

    .carouselButtonPrev {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .cardRow {
        display: flex;
        flex-wrap: nowrap;
    }
}