/* @import '../../App.scss'; */

.brandmark {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
  
    .icon {
      width: 3rem;
      margin-right: .5rem;
    }
  }
  
  .brandmark-fixed {
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
  
    .icon {
      width: 3rem;
      margin-right: .5rem;
    }
  }
  
  @media (min-width: 1024px) {
    .brandmark {
      .icon {
        width: 4rem;
        margin-top: 1rem;
      }
    }
  }
  
  /* .brandmark.fixed {
    color: $second-color;
  } */