.navbarAdmin {
    /* background-color: #f1f1f1; */
    background-color: rgba(236, 236, 236);
    width: 15%; 
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
  }

  .nombre{
    margin-bottom: 2rem;
  }

  .ulNavbarAdminWeb{
    list-style: none!important;
    padding: 10px;
  }

  .btnAdminCrear {
    background-color: rgb(52, 131, 250);
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btnAdminModificar {
  background-color: rgb(52, 131, 250);
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
  