.approach {
  display: flex;
  flex-direction: column;
  background-color: rgba(236, 236, 236);
}

.titleApproach {
  color: #00498A;
  text-align: center;
}

.carouselContainerWeb {
  width: 100%;
  margin-top: 3.5rem;
}


