.approach {
    display: flex;
    flex-direction: column;
    padding: 8rem 2rem 2rem 2rem;
    height: calc(100vh - 10rem);
    background-color: #575757;
  }
  
  .titleApproach {
    color: #00498A;
    text-align: center;
  }
  