/* .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #a5a4a4;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.8s ease-in-out;
    background-color: #FFFFFF;
}

.card:hover {
    transform: scale(1.05);
}

.image {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 5px;
}

.content {
    margin-top: 20px;
    text-align: center;
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
}

.categories {
    margin-bottom: 10px;
    color: rgb(52, 131, 250);
    font-weight: bold;
}

.price {
    font-weight: bold;
    font-size: 1.3rem;
}

.btn {
    background-color: rgb(52, 131, 250);
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 5px;
    border: none;
} */

.card {
    width: 220px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    background-color: #FFFFFF;
}

.card:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.categories {
    opacity: 0;
    height: 0;
    transition: opacity .5s, height 1s;
    color: #00498A;
    font-size: 14px;
    border: 1px solid red;
}

.card:hover .categories {
    opacity: 1;
    height: 3.5em;
}

.img {
    width: 100%;
    height: 10em;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 8px;
}

.name {
    font-size: 18px;
    margin-bottom: 4px;
}
