/* @import "../../App.scss"; */
@import "../../App.css";

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 2rem 2rem 2rem;
    width: calc(100% - 4rem);
    height: calc(100vh - 10rem);
    /* background-color: $second-color; */
}

.titleProducts {
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
    color: #333;
}


.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: calc(30% - 4rem);
    padding: 2rem;
    transition: all ease 1s;
    cursor: default;
    border: 1px solid black;
}

.description {
    text-align: center !important;
}

h3 {
    font-weight: bold;
    margin-bottom: .5rem;
    font-size: 1.75rem;
}

hr {
    margin-bottom: 1rem;
    width: 100%;
}

img {
    width: 60%;
    margin-bottom: 1rem;
    border-radius: 10px;
}


.card:hover {
    transform: scale(1.05);
}